<template>
    <div class="stat-block wide">
        <hr class="orange-border"/>
        <div class="section-left">
            <div class="creature-heading">
                <h1>{{ data.name }}</h1>
                <!--<h2>Medium construct, unaligned</h2>-->
            </div>
            <svg height="5" width="100%" class="tapered-rule">
                <polyline points="0,0 400,2.5 0,5"></polyline>
            </svg>
            <div class="top-stats">
                <div class="property-line first">
                    <h4>Armor Class</h4>
                    <p> {{ " " }} {{ data.stats.find(f => f.statType === "ac").statValue.formulae }}</p>
                </div>
                <div class="property-line">
                    <h4>Hit Points</h4>
                    <p> {{ " " }} {{ data.stats.find(f => f.statType === "hp").statValue.formulae }}
                        ({{ data.stats.find(f => f.statType === "hp").statValue.meanValue }})</p>
                </div>
                <div class="property-line last">
                    <h4>Speed</h4>
                    <p> {{ " " }} {{ data.stats.find(f => f.statType === "speed").statValue.formulae }}</p>
                </div>
                <svg height="5" width="100%" class="tapered-rule">
                    <polyline points="0,0 400,2.5 0,5"></polyline>
                </svg>
                <div class="abilities">
                    <div class="ability-strength">
                        <h4>STR</h4>
                        <p>
                            {{ data.abilityScores.find(f => f.abilityType === "str").score }}
                            ({{ data.abilityScores.find(f => f.abilityType === "str").modifier }})
                        </p>
                    </div> <!-- ability strength -->
                    <div class="ability-dexterity">
                        <h4>DEX</h4>
                        <p>
                            {{ data.abilityScores.find(f => f.abilityType === "dex").score }}
                            ({{ data.abilityScores.find(f => f.abilityType === "dex").modifier }})
                        </p>
                    </div> <!-- ability dexterity -->
                    <div class="ability-constitution">
                        <h4>CON</h4>
                        <p>
                            {{ data.abilityScores.find(f => f.abilityType === "con").score }}
                            ({{ data.abilityScores.find(f => f.abilityType === "con").modifier }})
                        </p>
                    </div> <!-- ability constitution -->
                    <div class="ability-intelligence">
                        <h4>INT</h4>
                        <p>
                            {{ data.abilityScores.find(f => f.abilityType === "int").score }}
                            ({{ data.abilityScores.find(f => f.abilityType === "int").modifier }})
                        </p>
                    </div> <!-- ability intelligence -->
                    <div class="ability-wisdom">
                        <h4>WIS</h4>
                        <p>
                            {{ data.abilityScores.find(f => f.abilityType === "wis").score }}
                            ({{ data.abilityScores.find(f => f.abilityType === "wis").modifier }})
                        </p>
                    </div> <!-- ability wisdom -->
                    <div class="ability-charisma">
                        <h4>CHA</h4>
                        <p>
                            {{ data.abilityScores.find(f => f.abilityType === "cha").score }}
                            ({{ data.abilityScores.find(f => f.abilityType === "cha").modifier }})
                        </p>
                    </div>
                </div>
            </div>
            <svg height="5" width="100%" class="tapered-rule">
                <polyline points="0,0 400,2.5 0,5"></polyline>
            </svg>
            <div v-for="feature in data.features" class="property-block">
                <h4>{{ feature.name }}</h4>
                <p v-for="description in splitLine(feature.description)">{{" "}}{{ description }}<br/></p>
            </div>
        </div>
        <div class="section-right">
            <div class="actions">
                <h3>Actions</h3>
                <div v-for="action in data.actions" class="actions">
                    <div class="property-block">
                        <h4>{{ action.name }}</h4>
                        <p>
                            {{ action.toHit !== undefined && action.toHit.length !== 0 ? action.toHit + "." : "" }}
                            <br v-if="action.reach !== undefined && action.reach.length !== 0">
                            {{ action.reach !== undefined && action.reach.length !== 0 ? action.reach + "." : "" }}
                            <br v-if="action.range !== undefined && action.range.length !== 0">
                            {{ action.range !== undefined && action.range.length !== 0 ? action.range + "." : "" }}
                            <br v-if="action.hit !== undefined && action.hit.length !== 0">
                            {{ action.hit !== undefined && action.hit.length !== 0 ? action.hit + "." : "" }}
                            <br v-if="action.description !== undefined && action.description != null && action.description.length !== 0">
                        </p>
                        <p v-for="description in splitLine(action.description)">
                            {{ description.length === 0 ? "" : description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="orange-border bottom"/>
    </div>
</template>

<script>
    import {StaticHelpers} from "../../initiative/StaticHelpers";

    export default {
        props: ["data"],
        methods: {
            splitLine: function (description) {
                if (description == null) return [];
                return description.split('\n');
            }
        },
        modify: async function (monster) {
            let inputAC = $('#' + this.staticId + monster.name + 'AC');
            if (inputAC.val() !== '') {
                let args = [monster.name, inputAC.val()];
                let editionCommand = new EditionCommand();
                const res = await editionCommand.execute(args);
                this.push(res);
                inputAC.val('');
            }
            let inputHP = $('#' + this.staticId + monster.name + 'HP');
            if (inputHP.val() !== '') {
                let args = [monster.name, inputHp.val()];
                let editionCommand = new EditionCommand();
                const res = await editionCommand.execute(args);
                this.push(res);
                inputHP.val('');
            }

        },
        mounted: function () {
            StaticHelpers.scrollWindow()
        }
    }
</script>

<style scoped>

</style>
