<template>
    <div class="input-line col-md-12">
        <div class="row">
            <div class="pull-left username"><pre style="color:white">-> </pre></div>
            <div id="command-result-input" class="pull-left">{{ completeInput }}</div>
        </div>
        <div class="col-md-12">
            <component id="command-result-output" :data-template="command.templateName" :is="command.templateName" :data="command.output"></component>
        </div>
    </div>
</template>

<script>
    import {StaticHelpers} from "../../initiative/StaticHelpers";
    import Error from "./Error"
    import Block from "./Block"
    import Help from "./Help"
    import Default from "./Default"
    import Markdown from "./Markdown"
    import Navigator from "./Navigator"
    import Monster from "./Monster"
    import EditableBlock from "./EditableBlock"

    export default {
        name: "Command",
        props: ['command', 'user'],
        components: {
            Error, Block, Help, Default, Markdown, Navigator, Monster, EditableBlock
        },
        computed: {
            completeInput: function () {
                return this.command.name + " " + this.command.args.join(" ");
            }
        },

        mounted: function () {
            StaticHelpers.scrollWindow();
        }
    }
</script>