<template>
    <div class="stat-block wide">
        <hr class="orange-border"/>
        <div class="section-left">
            <div class="creature-heading">
                <input class="form-control" :placeholder="placeholders.name" v-model="name">
            </div>
            <svg height="5" width="100%" class="tapered-rule">
                <polyline points="0,0 400,2.5 0,5"></polyline>
            </svg>
            <div class="top-stats">
                <div class="property-line first">
                    <h4>Armor Class</h4>
                    {{ " " }}
                    <input type="text" :placeholder="placeholders.ac" v-model="ac">
                </div>
                <form class="property-line">
                    <div class="form-row">
                        <div class="col-0 mb-0">
                            <h4>Hit Points : </h4>
                            <p v-if="instanciateHP > 0" >{{ instanciateHP }}</p>
                            <p v-else >{{ placeholders.hp.instantiateValue }}</p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-3">
                            <p class="input-group-prepend">(</p>
                            <input :placeholder="placeholders.hp.formulae.slice(0, placeholders.hp.formulae.search('d'))" v-model="hp.number">
                            <p class="input-group-append">d</p>
                        </div>
                        <div class="col-sm-3">
                            <input :placeholder="placeholders.hp.formulae.slice(placeholders.hp.formulae.search('d') + 1, placeholders.hp.formulae.search('d') + 3)" v-model="hp.sides">
                            <p class="input-group-prepend">+</p>
                            <input :placeholder="placeholders.hp.formulae.slice(placeholders.hp.formulae.search('d') + 4 , -1)" type="text" v-model="hp.modifier">
                            <p class="input-group-append">)</p>
                        </div>
                    </div>
                </form>
                <div class="property-line last">
                    <h4>Speed</h4>
                    <p> {{ " " }} <input type="text" v-model="speed" :placeholder="placeholders.speed"></p>
                </div>
                <svg height="5" width="100%" class="tapered-rule">
                    <polyline points="0,0 400,2.5 0,5"></polyline>
                </svg>
                <div class="abilities">
                    <div class="ability-strength">
                        <h4>STR</h4>
                        <input :placeholder="placeholders.abilities.str.score" type="text" v-model="abilities.str.score">
                        <p v-if="abilities.str.score === ''" >({{ recalcModifier(placeholders.abilities.str) }})</p>
                        <p v-else >({{ recalcModifier(abilities.str) }})</p>

                    </div>
                    <div class="ability-dexterity">
                        <h4>DEX</h4>
                        <input :placeholder="placeholders.abilities.dex.score" type="text" v-model="abilities.dex.score">
                        <p v-if="abilities.dex.score === ''" >({{ recalcModifier(placeholders.abilities.dex) }})</p>
                        <p v-else >({{ recalcModifier(abilities.dex) }})</p>

                    </div>
                    <div class="ability-constitution">
                        <h4>CON</h4>
                        <input :placeholder="placeholders.abilities.con.score" type="text" v-model="abilities.con.score">
                        <p v-if="abilities.con.score === ''" >({{ recalcModifier(placeholders.abilities.con) }})</p>
                        <p v-else >({{ recalcModifier(abilities.con) }})</p>

                    </div>
                    <div class="ability-intelligence">
                        <h4>INT</h4>
                        <input :placeholder="placeholders.abilities.int.score" type="text" v-model="abilities.int.score">
                        <p v-if="abilities.int.score === ''" >({{ recalcModifier(placeholders.abilities.int) }})</p>
                        <p v-else >({{ recalcModifier(abilities.int) }})</p>

                    </div>
                    <div class="ability-wisdom">
                        <h4>WIS</h4>
                        <input :placeholder="placeholders.abilities.wis.score" type="text" v-model="abilities.wis.score">
                        <p v-if="abilities.wis.score === ''" >({{ recalcModifier(placeholders.abilities.wis) }})</p>
                        <p v-else >({{ recalcModifier(abilities.wis) }})</p>

                    </div>
                    <div class="ability-charisma">
                        <h4>CHA</h4>
                        <input :placeholder="placeholders.abilities.cha.score" type="text" v-model="abilities.cha.score" >
                        <p v-if="abilities.cha.score === ''" >({{ recalcModifier(placeholders.abilities.cha) }})</p>
                        <p v-else >({{ recalcModifier(abilities.cha) }})</p>
                    </div>
                </div>
            </div>
            <svg height="5" width="100%" class="tapered-rule">
                <polyline points="0,0 400,2.5 0,5"></polyline>
            </svg>

            <div v-for="feature in features" class="property-block">
                <h4>{{ feature.name }}</h4>
                <button @click="execute('pop', feature)"
                        class="btn btn-sm">[-]
                </button>
                <p>
                    {{ " " }}
                    <textarea class="form-control-plaintext"
                              placeholder="description"
                              v-model="feature.description"></textarea>
                </p>
            </div>
            <div class="input-group mb-2">
                <input v-model="skillName" placeholder="New feature name" type="text" class="form-control">
                <div class="input-group-append">
                    <button @click="execute('add', {name: skillName, description: skillDescription})"
                            class="btn btn-sm">+
                    </button>
                </div>
            </div>
            <button type="button" class="btn btn-sm btn-danger" @click="undo">Undo</button>
        </div>
        <div class="section-right">
            <div class="actions">
                <h3>Actions</h3>
                <div v-for="action in data.actions" class="actions">
                    <div class="property-block">
                        <h4>{{ action.name }}</h4>
                        <p>
                            {{ action.toHit !== undefined && action.toHit.length !== 0 ? action.toHit + "." : "" }}
                            <input class="form-control" v-if="action.toHit !== undefined && action.toHit.length !== 0" v-model="action.toHit">
                            <br v-if="action.reach !== undefined && action.reach.length !== 0">
                            {{ action.reach !== undefined && action.reach.length !== 0 ? action.reach + "." : "" }}
                            <br v-if="action.range !== undefined && action.range.length !== 0">
                            {{ action.range !== undefined && action.range.length !== 0 ? action.range + "." : "" }}
                            <br v-if="action.hit !== undefined && action.hit.length !== 0">
                            {{ action.hit !== undefined && action.hit.length !== 0 ? action.hit + "." : "" }}
                            <br v-if="action.description !== undefined && action.description != null && action.description.length !== 0">
                        </p>
                        <p v-for="description in splitLine(action.description)">
                            {{ description.length === 0 ? "" : description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="orange-border bottom"/>
    </div>
</template>

<script>
    import {StaticHelpers} from "../../initiative/StaticHelpers";

    export default {
        props: ["data"],
        data: function () {
            return {
                name: '',
                ac: '',
                hp: {number: '', sides: '', modifier: ''},
                speed: '',
                abilities: {
                    str: {score: '', modifier: 0},
                    dex: {score: '', modifier: 0},
                    con: {score: '', modifier: 0},
                    int: {score: '', modifier: 0},
                    wis: {score: '', modifier: 0},
                    cha: {score: '', modifier: 0}
                },
                features: this.data.features,
                skillName: "",
                skillDescription: "",
                commands: [],
                placeholders: {
                    name: this.data.name,
                    ac: this.data.stats.find(f => f.statType === "ac").statValue.formulae,
                    hp: this.data.stats.find(f => f.statType === "hp").statValue,
                    speed: this.data.stats.find(f => f.statType === "speed").statValue.formulae,
                    abilities: {
                        str: this.data.abilityScores.find(f => f.abilityType === "str"),
                        dex: this.data.abilityScores.find(f => f.abilityType === "dex"),
                        con: this.data.abilityScores.find(f => f.abilityType === "con"),
                        int: this.data.abilityScores.find(f => f.abilityType === "int"),
                        wis: this.data.abilityScores.find(f => f.abilityType === "wis"),
                        cha: this.data.abilityScores.find(f => f.abilityType === "cha")
                    },
                }
            }
        },
        methods: {
            execute(type, value) {
                this.commands.push({type, value});
                if (type === "add") {
                    this.features.push(value)
                } else {
                    this.features = this.features.filter(f => f !== value)
                }
            },
            splitLine: function (description) {
                if (description == null) return [];
                return description.split('\n');
            },
            recalcModifier(args) {
                return args.modifier = Math.floor((args.score - 10) / 2);
            },
            undo() {
                let command = this.commands.pop();
                if (command !== undefined) {
                    this.execute(command.type === "add" ? "pop" : "add", command.value);
                    this.commands.pop()
                }
            }
        },
        modify: async function (monster) {
            let inputAC = $('#' + this.staticId + monster.name + 'AC');
            if (inputAC.val() !== '') {
                let args = [monster.name, inputAC.val()];
                let editionCommand = new EditionCommand();
                const res = await editionCommand.execute(args);
                this.push(res);
                inputAC.val('');
            }
            let inputHP = $('#' + this.staticId + monster.name + 'HP');
            if (inputHP.val() !== '') {
                let args = [monster.name, inputHp.val()];
                let editionCommand = new EditionCommand();
                const res = await editionCommand.execute(args);
                this.push(res);
                inputHP.val('');
            }
        },
        computed: {
            instanciateHP(){
                let min = Math.ceil(parseInt(this.hp.number));
                let max = Math.floor(parseInt(this.hp.number) * parseInt(this.hp.sides));
                return parseInt(this.hp.modifier) + Math.floor(Math.random() * (max - min + 1) + min);
            }
        },
        mounted: async function () {
            StaticHelpers.scrollWindow();
        }
    }
</script>

<style scoped>

</style>
