<template>
    <div>
        <div id="container" class="container-fluid">
            <div class="row">
                <div class="col-8">
                    <div class="row">

                        <div id="input-line" class="input-line col-md-12">
                            <div class="row">
                                <div class="username pull-left">{{ user }}</div>
                                <input id="inputLine" v-model="currentInputValue"
                                       @keyup.enter="pressEnter"
                                       @keyup.37="pressArrow"
                                       @keyup.38="pressArrow"
                                       @keyup.39="pressArrow"
                                       @keyup.40="pressArrow"
                                       @keydown.tab="pressTab"
                                       class="cmdline pull-left col" autocomplete="off" autocapitalize="off" spellcheck="false" autofocus/>
                            </div>
                            <img id="loader-img"
                                 v-bind:style="{ display: processing ? 'block' : 'none' }"
                                 style="width: 150px; height: 120px; margin-left: 100px"
                                 src="../../assets/waiting.gif"/>
                        </div>

                        <div v-for="(prop, index) in proposalsDisplayed()"
                             v-bind:class="{ 'bg-prop-current' : index === proposalsIndex.orElse(0) }"
                             class="col-md-3 proposal">
                            <span style="cursor: pointer" v-on:click="onClickProposition(index)"
                                  v-on:mouseover="onMouseOverProposition(index)">{{ prop }}</span>
                        </div>

                        <div class="col-md-12">
                            <div class="row">
                                <command
                                        v-for="(command, index) in commands.slice(commands.length -1)"
                                        v-bind:command="command"
                                        v-bind:key="index"
                                        v-bind:user="user">
                                </command>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="colEncounter" class="col-4"
                     style="overflow-y: auto; height: calc(100% - 10px); position: fixed; right: 0">
                    <div class="col-md-auto" style="font-size: 11px; float: right">
                        <span style="padding-right: 5px">Type help then press enter to show the help text!</span>
                        <!--<span style="padding-right: 5px">Switch theme :</span>-->
                        <!--<a onclick="changeCSS('css/term-theme-light.css')" href="#">light</a>
                        <span style="padding: 0 10px">|</span>
                        <a onclick="changeCSS('css/term-theme-dark.css')" href="#">dark</a>-->
                    </div>
                    <static-encounter v-bind:encounter="encounter">
                    </static-encounter>
                </div>
            </div>
        </div>

        <input hidden id="file" type="file" accept=".encounter,.zip"/>
    </div>
</template>

<script>
    import $ from 'jquery'
    import Optional from "optional-js";
    import {AppEngine} from "../../initiative/app";
    import {StaticHelpers} from "../../initiative/StaticHelpers";
    import Engine from "../../initiative/Engine";
    import StaticEncounter from "./StaticEncounter";
    import Command from "./Command";

    export default {
        data() {
            return {
                user: "gm@Storm =>",
                currentInputValue: "",
                commands: [],
                history: [],
                positionHistory: 0,
                proposals: [],
                proposalsIndex: Optional.empty(),
                encounter: this.encounterUpdate(),
                processing: false
            }
        },
        components: {
            StaticEncounter, Command
        },
        beforeCreate: function () {
            document.body.className = 'initiative';
        },
        watch: {
            commands: async function () {
                await this.encounterUpdate();
            },
            positionHistory: function (newPosition, oldPosition) {
                let command = this.history[this.history.length - newPosition];
                if (typeof command !== 'undefined') {
                    this.currentInputValue = command;
                } else {
                    this.currentInputValue = "";
                }
            }
        },
        updated() {
            StaticHelpers.scrollWindow();
        },
        mounted() {
            StaticHelpers.scrollWindow();
            StaticHelpers.commands = this.commands;
            window.initiative = this;
        },
        methods: {
            proposalsDisplayed() {
                if (this.currentInputValue === undefined) this.currentInputValue = ""; //wasn't in ts
                return AppEngine.computeProposalsDisplayed(this.proposals, this.currentInputValue);
            },

            currentCommand() {
                return AppEngine.computeCurrentCommand(this.currentInputValue);
            },

            currentArguments() {
                return AppEngine.computeCurrentArguments(this.currentInputValue);
            },

            async onClickProposition(index) {
                this.proposalsIndex = Optional.of(index);
                await this.pressEnter();
            },

            onMouseOverProposition(index) {
                this.proposalsIndex = Optional.of(index);
            },

            async encounterUpdate() {
                this.encounter = await Engine.getEncounterData().then(d => d);
                return this.encounter;
            },


            async pressEnter() {
                if (this.currentCommand().isPresent() && this.currentArguments()[0] === "!!") {
                    this.currentInputValue = AppEngine.transformInputBangBang(this.currentInputValue, Optional.ofNullable(this.commands[this.commands.length - 1]));
                    return;
                }
                if (!this.proposalsIndex.isPresent()) {
                    this.processing = true;
                    const result = await StaticHelpers.evaluate(this.currentCommand().orElse(""), this.currentArguments());
                    this.commands.push(result);
                    this.processing = false;
                    if (this.currentInputValue !== "" && this.currentInputValue !== this.history[this.history.length - 1]) {
                        this.history.push(this.currentInputValue);
                    }
                    this.currentInputValue = "";
                    this.positionHistory = 0;
                } else {
                    let proposalsDisplayedElement = this.proposalsDisplayed()[this.proposalsIndex.get()];
                    this.currentInputValue = AppEngine.transformInputAutocomplete(this.currentInputValue, proposalsDisplayedElement) + " ";
                }
                this.proposalsIndex = Optional.empty();
                this.proposals = [];
                // this.encounterUpdate();
                StaticHelpers.scrollWindow();
                $("#inputLine")[0].focus();
            },

            pressArrow(message) {
                this.proposalsIndex.ifPresentOrElse((value) => {
                    this.proposalsIndex = Optional.of(AppEngine.computeProposalsIndexWithArrow(value, this.proposalsDisplayed(), message.keyCode));
                }, () => {
                    this.positionHistory = AppEngine.computeHistoryPosition(this.history, this.positionHistory, message.keyCode);
                });
            },

            async pressTab(message) {
                message.preventDefault();

                this.processing = true;
                const toExecuteOption = AppEngine.findAutocompleteParameters(this.currentInputValue);
                if (this.proposals.length === 0) {
                    this.proposals = await AppEngine.computeProposals(toExecuteOption);
                }
                this.proposalsIndex = AppEngine.computeProposalsIndexWithTab(this.proposalsIndex, this.proposalsDisplayed());

                if (this.proposalsDisplayed().length === 1) {
                    await this.pressEnter();
                }

                this.processing = false;
            }
        }
    }
</script>


<style scoped>
    div {
        font-size: 16pt;
        font-family: Inconsolata, monospace;
    }

    .username {
        padding-right: 15px;
        padding-left: 15px;
    }

    .cmdline {
        border: 0;
        padding: 0;
    }

    .bg-prop-current {
        opacity: 1 !important;
    }

    .proposal {
        opacity: 0.5;
    }

    .username {
        color: #96b38a;
    }

    .cmdline {
        background-color: black;
        color: white;
    }

    .cmdline ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 0.5; /* Firefox */
    }

    .cmdline ::-webkit-input-placeholder {
        color: white;
        opacity: 0.5;
    }

    .cmdline ::-moz-placeholder {
        color: white;
        opacity: 0.5;
    }

    /* firefox 19+ */
    .cmdline :-ms-input-placeholder {
        color: white;
        opacity: 0.5;
    }

    /* ie */
    .cmdline input:-moz-placeholder {
        color: white;
        opacity: 0.5;
    }
</style>
