<template>
    <div v-html="markdownHtmlGenerated"></div>
</template>

<script>
    import * as showdown from "showdown";

    export default {
        props: ['data'],
        computed: {
            markdownHtmlGenerated: function () {
                let converter = new showdown.Converter();
                return converter.makeHtml(this.data);
            }
        }
    }
</script>
