<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <b-container class="app-options">
      <b-row>
        <b-col>
          <Character msg="Is this the real life ?"/>
        </b-col>
        <b-col>
          <Monster />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Character from './components/gestion/Character.vue'
import Monster from "./components/gestion/Monster.vue";

export default {
  name: 'app',
  components: {
    Monster,
    Character
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
