<template>
    <div id="output">
        <b-card
                title="Feuille de personnage"
                style="max-width: 100rem;"
                class="overflow-hidden"
        >
            <b-row no-gutters>
                <b-col>
                    <b-card-body>
                        <b-input-group prepend="Nom" class="mt-3">
                            <input id="input-name" v-model="name" class="form-control"
                                   placeholder="Caught in a landslide">
                        </b-input-group>
                        <b-form-group
                                id="input-group-race"
                                label-size="sm"
                                label="Race"
                                label-for="input-race">
                            <b-input-group prepend="HP" class="mt-3">
                                <input class="form-control" type="text" v-model="HP">
                            </b-input-group>
                            <b-input-group prepend="AC" class="mt-3">
                                <input class="form-control" type="text" v-model="AC">
                            </b-input-group>
                            <div>
                                <button class="btn btn-light" @click="postCharacter">RetourAPI</button>
<!--                                <p v-on:error="response">{{ $bvModal.show('bv-modal') }}</p>-->
                            </div>
                            <div>
                                {{ response }}
<!--                                <b-modal id="bv-modal">-->
<!--                                    <template v-slot:modal-title>-->
<!--                                        <h3>Invalid input</h3>-->
<!--                                    </template>-->
<!--                                    <div class="d-block text-center">-->
<!--                                        <p>{{ response }}</p>-->
<!--                                    </div>-->
<!--                                </b-modal>-->
                            </div>
<!--                            <div v-for="character in characters">-->
<!--                                {{ "name : " + character.name }}-->
<!--                            </div>-->
                            {{ characters ? characters : "Characters doesn't exist"}}
                        </b-form-group>
                        <h4>Niveau : {{ characterLevel }}</h4>
                        <h4>Race : {{ race }}</h4>
                    </b-card-body>
                </b-col>
                <b-col>
                    <h4>Classes</h4>
                    <b-card-body>
                        <b-button v-b-toggle.job-collapse variant="primary">+</b-button>
                        <b-collapse id="job-collapse">
                            <b-input-group id="level-job" v-for="cJob in jobLvl">
                                <b-input-group-prepend is-text>{{ cJob.text }}</b-input-group-prepend>
                                <b-input :id="cJob.text" type="number" v-model="cJob.value" min="0" max="20"/>
                            </b-input-group>
                        </b-collapse>
                    </b-card-body>

                </b-col>
            </b-row>
        </b-card>
        <!--no escape from reality-->
    </div>

</template>


<script>
    import GestionAPI from "../../Gestion/GestionAPI"

    export default {
        data() {
            return {
                name: '',
                race: "",
                HP: '',
                AC: '',
                response: '',
                races: ['Human', 'Dwarf', 'Elf'],
                jobLvl: [
                    {text: 'Barbarian', value: 0},
                    {text: 'Bard', value: 0}
                ]
            }
        },
        beforeCreate: function () {
            document.body.className = 'gestion';
        },
        name: 'Character',
        computed: {
            characterLevel() {
                return this.jobLvl.map(a => parseInt(a.value)).reduce((a, b) => a + b, 0);
            },
            characters(){
                let charas =  GestionAPI.getCharacters();
                return Array(charas);
                //todo recuperer correctement la liste (actuellement seulement une promesse)
            }
        },
        methods: {
            printConsole() {
                console.log(this.name);
                console.log("AC" + this.AC);
                console.log("HP" + this.HP);
            },
            async postCharacter() {
                let responseOpt = await GestionAPI.postCharacter(this.name, [{
                    "kind": "hp",
                    "value": parseInt(this.HP)
                }, {"kind": "ac", "value": parseInt(this.AC)}]);
                // console.log(responseOpt);
                if (responseOpt !== undefined) {
                    this.response = responseOpt.output;
                }
                // this.characters = this.getCharacters();
            },
            // async getCharacters() {
            //     return GestionAPI.getCharacters();
            // }
        },
    }
</script>

<style scoped>

</style>
