<template>
    <div>
        <b-card
                title="Ajouter un monstre"
                style="max-width: 25rem;"
                class="overflow-hidden"
        >
            <b-card-body>
                <b-form-file
                        v-model="monster"
                        :state="Boolean(monster)"
                        placeholder=""
                        drop-placeholder="Déposer le monstre ici"
                        accept=".txt"
                ></b-form-file>
                <div class="mt-3">Monstre : {{ monster ? monster.name : ''}}</div>
            </b-card-body>
        </b-card>
    </div>
</template>

<script>
    export default {
        name: "Monster",
        data(){
            return {
                monster: null
            }
        },
        beforeCreate: function () {
            document.body.className = 'gestion';
        },
    }
</script>

<style scoped>

</style>